header {
    background-image: url(../images/cover-eloquent_ruby.jpg);
    background-size: 15%;
    text-align: center;
    color: white;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}